/* モーダルウィンドウを丸くする */

.modaal-container {
    width: 500px ;
    height: 500px ;
    border-radius: 50% ;
    overflow: hidden;
}

.modaal-content-container {
    width: 500px ;
    height: 500px ;
    border-radius: 50% ;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E2D8;
} 

/* 画像の上に文字を置く */

.menu a{
    text-decoration: none;
}

.menu-button{
    position: relative;
    width: 450px;
    margin: auto;
}

.menu-button img{
    width: 100%;
    display: block;
}

.menu-button p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 35px;
    color: #8E897A;
    white-space: nowrap;
}

.menu-list{
    display: flex !important;
    flex-direction: column !important;

    align-items: center !important;

    gap: 20px !important;
}

/* ×の調整 */

.modaal-close:before,
.modaal-close:after{
    background: #8E897A;
    height: 80px ;
}

.modaal-close:hover:before,
.modaal-close:hover:after{
    background: #8E897A;
}

.modaal-close{
    width: 150px ;
    height: 150px ;
    top: 120px;
    right: 400px;
}

.modaal-close:hover{
    background: transparent !important;
}